.atpic_widget {
  display: none;
}

.atpic_pics {
  position: relative; /*keep this intact*/
  visibility: hidden; /*keep this intact*/
  border: 0;
}

.atpic_pics .gallerydesctext {
 text-align: left;
 padding: 0;
}

#lower .atpic_pics a {
  background-image: url(blank.gif);
  padding: 0;
  margin: 0;
}
  #lower .atpic_pics a:hover {
    background: url(blank.gif);
    padding: 0;
    margin: 0;
  }
